<mat-card>
  We richten een VZW voor tango op.  Hier tonen we onze voorlopige statuten.
  Je kan deze bediscussi&euml;ren <a href="https://tango.tips/forum/viewtopic.php?f=10&amp;t=7" target="_blank">op het forum</a>.
</mat-card>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Oprichting
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        De ondergetekenden:
      </p>
      <ol>
        <li>Toon Macharis, Gasthuisstraat 20, 9200 Dendermonde</li>
        <li>...</li>
        <li>...</li>
      </ol>
      <p>
        zijn op 10 maart 2018 overeengekomen een vereniging zonder winstoogmerk op te richten
        ter ondersteuning van tango in en rond Gent.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Naam en adres
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>De naam van de vereniging is <span class="accent">La vida es una milonga</span> VZW</p>
      <p>De zetel van de vereniging is gevestigd te Brielstraat 36, 9255 Buggenhout onder het gerechtelijk arrondissement Dendermonde.
        (Opmerking: misschien beter een zetel te Gent?)
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Doelstelling
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        De vereniging heeft als doel:
      </p>
      <ul>
        <li>een sociale tango te brengen</li>
        <li>mensen de mogelijkheid te geven tango te oefenen en te dansen</li>
        <li>het circuleren op de dansvloer te stimuleren</li>
        <li>tango in en rond Gent te promoten</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Leden
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>De vereniging telt minimum 3 leden.</p>
      <p>Men wordt lid van de vereniging door het kopen van een lidkaart.</p>
      <p>Iedereen is vrij om een lidkaart te kopen.</p>
      <p>De uitsluiting van een lid wordt besloten op een algemene vergadering.</p>
      <p>Het lidmaatschap blijft geldig tot en met 31 december van het jaar waarin de lidkaart gekocht is.</p>
      <p>Elk lid heeft een gelijkwaardige stem op de algemene vergadering.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Algemene Vergadering
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>De algemene vergadering is het hoogste beslissingsnemend orgaan van de vereniging.</p>
      <p>Er wordt exact een reguliere algemene vergadering georganiseerd per jaar</p>
      <p>De reguliere algemene vergadering verkiest een bestuur tot de volgende reguliere algemene vergadering.</p>
      <p>Op aanvraag van minstens 20% van de leden kan op elk moment een buitengewone algemene vergadering georganiseerd worden</p>
      <p>Een algemene vergadering wordt georganiseerd door het bestuur of door iedereen die gesteund wordt door een gewone meerderheid van de leden.</p>
      <p>Elke algemene vergadering wordt minstens 1 maand voor datum aangekondigd aan alle leden</p>
      <p>De agenda van elke algemene vergadering wordt minstens 2 weken voor datum aangekondigd aan alle leden</p>
      <p>Elk lid heeft het recht deel te nemen aan de algemene vergadering</p>
      <p>De algemene vergadering heeft het exclusieve recht om de statuten te wijzigen</p>
      <p>De algemene vergadering heeft het exclusieve recht om bestuurders aan te stellen of af te zetten</p>
      <p>De algemene vergadering heeft het exclusieve recht om leden uit te sluiten</p>
      <p>Een algemene vergadering kan enkel beslissingen nemen indien meer dan de helft van de stemmen aanwezig is of vertegenwoordigd is.</p>
      <p>De volgende beslissingen vereisen een 2/3 meerderheid van de stemmen:</p>
      <ul>
        <li>wijziging van de statuten</li>
        <li>afzetten van bestuurders</li>
        <li>uitsluiten van leden</li>
        <li>ontbinden van de vereniging</li>
      </ul>
      <p>Andere beslissingen vereisen een gewone meerderheid van stemmen.</p>
      <p>
        bestuurders worden als volgt verkozen:
      </p>
      <ul>
        <li>een kandidaat bestuurder is lid van de vereniging</li>
        <li>de kandidatuur is minstens 2 weken voor de algemene vergadering ingediend en aangekondigd</li>
        <li>kandidaat bestuurders presenteren aan de algemene vergadering voor welke functies ze kandideren en hoe ze deze plannen in te vullen.</li>
        <li>De functies worden in de volgende volgorde verkozen: voorzitter, vice-voorzitter, penningmeester, interne relaties, externe relaties</li>
        <li>Een bestuurder wordt verkozen bij gewone meerderheid van stemmen.</li>
        <li>Indien er meerdere kandidaten voor 1 functie zijn, wordt er op alle kandidaten gestemd.
          Indien geen van hen een gewone meerderheid heeft, wordt er opnieuw gestemd, waarbij de kandidaat met de minste stemmen afvalt.
          Indien er meerdere kandidaten zijn met de minste stemmen, wordt er gestemd tot er 1 kandidaat is met de minste stemmen.
        </li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bestuur
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Het bestuur omvat de volgende 5 functies:</p>
      <ul>
        <li>Voorzitter</li>
        <li>Vice-voorzitter</li>
        <li>Penningmeester</li>
        <li>Interne relaties/relaties naar leden</li>
        <li>Externe relaties/relaties voor zalen</li>
      </ul>
      <p>Bestuursleden beheren de organisatie op dagelijkse basis en geven een verslag van hun werking op de volgende reguliere algemene vergadering,
        of indien gevraagd door een gewone meerderheid van stemmen van de leden, op een buitengewone algemene vergadering.
      </p>
      <p>
        De voorzitter, vice-voorzitter en penningmeester zijn 3 verschillende fysieke personen.
      </p>
      <p>
        Zowel de voorzitter als de penningmeester hebben toegang tot de bankrekening.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ontbinding
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>De ontbinding van de vereniging vereist het samenroepen van een buitengewone algemene vergadering</p>
      <p>Deze buitengewone algemene vergadering beslist over de ontbinding en aan welke vereniging de bezittingen van de organisatie
        geschonken worden.
      </p>
      <p>In geval van ontbinding worden de bezittingen geschonken aan een andere vereniging zonder winstoogmerk dat zich inzet voor tango</p>
      <p>Hierbij geniet een vereniging die actief is in of rond Gent prioriteit over een vereniging die ergens anders actief is in Belgi&euml;.
        Een vereniging die actief is in Belgi&euml; geniet prioriteit over een vereniging die actief is buiten Belgi&euml;.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>