<mat-card>
  Je vint onze offici&euml;le oprichtingsakte op 
  <a href="http://www.ejustice.just.fgov.be/tsv_pdf/2018/03/16/18308251.pdf" target="_blank">http://www.ejustice.just.fgov.be/tsv_pdf/2018/03/16/18308251.pdf</a>.
</mat-card>
<mat-card>
  <ol>
    <li>
      Naam en adres
      <ol>
        <li>
          De naam van de vereniging is "la vida es una milonga".
        </li>
        <li>
          De zetel van de vereniging is gevestigd te Brielstraat 36, 9255 Buggenhout onder het gerechtelijk arrondissement Dendermonde.
        </li>
      </ol>
    </li>
    <li>
      Doelstelling
      <ol>
        <li>
          De vereniging bestaat uit tango dansers die activiteiten organiseren voor tango dansers.
        </li>
        <li>
          Elke tango danser kan lid worden door een lidkaart te kopen.
        </li>
        <li>
          Een lidkaart geeft het recht om deel te nemen aan de algemene vergadering.  Op de algemene vergadering:
          <ol>
            <li>
              heeft elk lid een gelijkwaardige stem.
            </li>
            <li>
              verkiezen de leden onder hen een bestuur dat de dagelijkse werking van de vereniging coördineert.
            </li>
          </ol>
        </li>
        <li>
          De doelstellingen van de vereniging zijn:
          <ol>
            <li>
              een sociale tango te brengen.
            </li>
            <li>
              mensen de mogelijkheid te geven tango te oefenen en te dansen.
            </li>
            <li>
              het circuleren op de dansvloer te stimuleren.
            </li>
            <li>
              tango in en rond Gent te promoten.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      Leden
      <ol>
        <li>
          De vereniging telt minimum 4 leden.
        </li>
        <li>
          Men wordt lid door het kopen van een lidkaart.
          <ol>
            <li>
              De lidkaart is op naam en kan niet overgedragen worden.
            </li>
            <li>
              De lidkaart vervalt op het einde van de jaarlijkse gewone algemene vergadering die georganiseerd wordt in het jaar volgend op de datum van aanschaf.
            </li>
            <li>
              De prijs van de lidkaart is de enige verplichte bijdrage van de leden aan de vereniging.
            </li>
            <li>
              De prijs van de lidkaart is niet hoger dan kortingen die leden krijgen op activiteiten in het lopende jaar.
            </li>
          </ol>
        </li>
        <li>
          Elk lid heeft het recht deel te nemen aan elke gewone of buitengewone algemene vergadering.
        </li>
      </ol>
    </li>
    <li>
      Algemene Vergadering
      <ol>
        <li>
          Gewone algemene vergadering
          <ol>
            <li>
              Het bestuur organiseert elk jaar een gewone algemene vergadering.
            </li>
            <li>
              Ten alle tijde kan één vijfde van de leden een gewone algemene vergadering bijeenroepen, die plaats vindt binnen de veertig dagen.
            </li>
            <li>
              Een gewone algemene vergadering wordt minstens dertig dagen vooraf aan alle leden aangekondigd.
            </li>
          </ol>
        </li>
        <li>
          Buitengewone algemene vergadering
          <ol>
            <li>
              Het bestuur organiseert een buitengewone algemene vergadering indien er op een gewone algemene vergadering een quorum niet bereikt wordt om een beslissing te nemen.
            </li>
            <li>
              De buitengewone algemene vergadering wordt binnen minimaal vijftien dagen en maximaal veertig dagen na de gewone algemene vergadering georganiseerd.
            </li>
            <li>
              De buitengewone algemene vergadering wordt binnen de week na de gewone algemene vergadering aan alle leden aangekondigd.
            </li>
            <li>
              De buitengewone algemene vergadering beslist over de agenda punten waarvoor op de gewone algemene vergadering het quorum niet bereikt was.
            </li>
            <li>
              Beslissingen waarvoor een quorum vereist is op een gewone algemene vergadering, vereisen geen quorum op een buitengewone algemene vergadering.
            </li>
          </ol>
        </li>
        <li>
          Het bestuur informeert alle leden minstens vijftien dagen voor de algemene vergadering over de te behandelen agenda punten.
          <ol>
            <li>
              Over zaken die niet aangekondigd zijn, wordt op de algemene vergadering geen besluit genomen.
            </li>
            <li>
              De agenda van een gewone algemene vergadering
              <ol>
                <li>
                  vermeldt alle kandidaat bestuursleden.
                </li>
                <li>
                  bevat de goedkeuring van de begroting en rekening van de afgesloten periode en de komende periode.
                </li>
                <li>
                  bevat de goedkeuring van een volgende gewone algemene vergadering.
                </li>
              </ol>
            </li>
            <li>
              De agenda van een buitengewone algemene vergadering
              <ol>
                <li>
                  vermeldt alle agendapunten waar op de voorafgaande gewone algemene vergadering geen beslissing over genomen is.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Besluiten
          <ol>
            <li>
              Elk lid heeft op de algemene vergadering een gelijkwaardige stem.
            </li>
            <li>
              Een lid dat niet aanwezig is op de algemene vergadering kan zijn stem delegeren aan een lid dat wel aanwezig is.
              <ol>
                <li>
                  Dit lid vermeldt minstens een week voor de algemene vergadering aan het bestuur wie de gedelegeerde stem krijgt.
                </li>
                <li>
                  Een lid op de algemene vergadering heeft maximaal 1 gedelegeerde stem.
                </li>
              </ol>
            </li>
            <li>
              Tenzij anders vermeldt in de statuten, worden alle besluiten genomen door een gewone meerderheid van aanwezige stemmen.
            </li>
            <li>
              De volgende beslissingen vereisen twee derde van de aanwezige stemmen:
              <ol>
                <li>
                  wijzigen van statuten.
                </li>
                <li>
                  afzetten van bestuurders.
                </li>
                <li>
                  uitsluiten van leden.
                </li>
              </ol>
            </li>
            <li>
              De volgende beslissingen vereisen vier vijfde van de aanwezige stemmen:
              <ol>
                <li>
                  wijzigen van de doelstelling van de vereniging.
                </li>
                <li>
                  ontbinden van de vereniging.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          De algemene vergadering heeft het exclusieve recht om:
          <ol>
            <li>
              de statuten te wijzigen.
            </li>
            <li>
              bestuurders aan te stellen of af te zetten.
            </li>
            <li>
              leden uit te sluiten.
            </li>
            <li>
              de begroting en rekening goed te keuren.
            </li>
            <li>
              de vereniging te ontbinden.
            </li>
          </ol>
        </li>
        <li>
          Wijzigen van statuten
          <ol>
            <li>
              Wijzigingen van de statuten vereisen op een gewone algemene vergadering een quorum van minstens twee derde van de stemmen.
            </li>
            <li>
              Wijzigingen van de statuten vereist twee derde van de aanwezige stemmen.
            </li>
            <li>
              Wijzigingen van de doelstelling van de vereniging vereist vier vijfde van de aanwezige stemmen.
            </li>
          </ol>
        </li>
        <li>
          Verkiezingen
          <ol>
            <li>
              De jaarlijkse gewone algemene vergadering verkiest een nieuw bestuur.
            </li>
            <li>
              Na het verkiezen van een nieuw bestuur, beslist een algemene vergadering om kwijting te geven aan het vorige bestuur.
            </li>
            <li>
              Een kandidaat bestuurslid:
              <ol>
                <li>
                  is lid van de vereniging.
                </li>
                <li>
                  heeft zijn kandidatuur minstens vijftien dagen voor de algemene vergadering aan het bestuur aangekondigd.
                </li>
                <li>
                  presenteert aan de algemene vergadering voor welke functies hij kandideert en hoe hij deze functies plant in te vullen.
                </li>
              </ol>
            </li>
            <li>
              De functies worden in de volgende volgorde verkozen: voorzitter, vice-voorzitter, penningmeester, interne relaties, externe relaties.
            </li>
            <li>
              De stem procedure om bestuurders te verkiezen is als volgt:
              <ol>
                <li>
                  Indien er meerdere kandidaten voor een functie zijn,
                  <ol>
                    <li>
                      wordt er op alle kandidaten gelijktijdig gestemd.
                    </li>
                    <li>
                      wordt de stemming herhaald tot er 1 kandidaat overblijft.
                    </li>
                    <li>
                      indien 1 kandidaat de minste stemmen krijgt, valt hij af.
                    </li>
                    <li>
                      indien meerdere kandidaten de minste stemmen krijgen, wordt de stemming herhaald met dezelfde kandidaten.
                    </li>
                  </ol>
                </li>
                <li>
                  Indien er 1 kandidaat voor een functie is,
                  <ol>
                    <li>
                      wordt er voor of tegen hem gestemd.
                    </li>
                    <li>
                      wordt hij verkozen met een gewone meerderheid van stemmen.
                    </li>
                    <li>
                      valt hij af bij een gewone meerderheid van tegen stemmen.
                    </li>
                  </ol>
                </li>
                <li>
                  Indien er geen kandidaten voor een functie zijn,
                  <ol>
                    <li>
                      wordt er binnen minimaal vijftien dagen en maximaal veertig dagen een buitengewone algemene vergadering georganiseerd om iemand in de functie te verkiezen.
                    </li>
                    <li>
                      krijgt het vorige bestuurslid in de functie geen kwijting tot een nieuw bestuurslid is verkozen.
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Ontbinding van de vereniging
          <ol>
            <li>
              Ontbinding van de vereniging vereist op een gewone algemene vergadering een quorum van minstens twee derde van de stemmen.
            </li>
            <li>
              Ontbinding van de vereniging vereist vier vijfde van de aanwezige stemmen.
            </li>
            <li>
              In geval van ontbinding worden de bezittingen geschonken aan een andere vereniging zonder winstoogmerk dat zich inzet voor tango.
              <ol>
                <li>
                  Hierbij geniet een vereniging die actief is in of rond Gent prioriteit over een vereniging die ergens anders actief is in België.
                </li>
                <li>
                  Hierbij geniet een vereniging die actief is in België prioriteit over een vereniging die actief is buiten België.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Het bestuur informeert alle leden binnen de week na de algemene vergadering over de beslissingen van de algemene vergadering.
        </li>
      </ol>
    </li>
    <li>
      Bestuur
      <ol>
        <li>
          Het bestuur omvat de volgende 5 functies:
          <ol>
            <li>
              Voorzitter, deze functie zorgt ervoor dat het bestuur op regelmatige basis vergadert en staat andere functies bij waar nodig.
            </li>
            <li>
              Vice-voorzitter, deze functie zorgt ervoor dat er een verslag wordt gemaakt van elke vergadering en staat de voorzitter bij waar nodig.
            </li>
            <li>
              Penningmeester, deze functie volgt de boekhouding en het materiaal dat vereist is voor de activiteiten op en keurt de uitgaven goed.
            </li>
            <li>
              Interne relaties, deze functie coördineert de communicatie met de leden.
            </li>
            <li>
              Externe relaties, deze functie coördineert de activiteiten.
            </li>
          </ol>
        </li>
        <li>
          De voorzitter, vice-voorzitter en penningmeester zijn 3 verschillende fysieke personen.
        </li>
        <li>
          Zowel de voorzitter als de penningmeester hebben volmacht op de bankrekening van de vereniging.
        </li>
        <li>
          Het bestuur vergadert op regelmatige basis.  Op een bestuursvergadering:
          <ol>
            <li>
              heeft elk bestuurslid een gelijkwaardige stem.
            </li>
            <li>
              vereisen beslissingen de aanwezigheid van een meerderheid van de bestuursleden.
            </li>
            <li>
              worden beslissingen genomen met een gewone meerderheid van stemmen van de bestuursleden.
            </li>
          </ol>
        </li>
        <li>
          Algemene vergadering
          <ol>
            <li>
              Het bestuur vertegenwoordigt de vereniging tussen twee algemene vergaderingen in.
            </li>
            <li>
              Het bestuur organiseert de volgende gewone algemene vergadering die goedgekeurd is op de vorige gewone algemene vergadering.
            </li>
            <li>
              Het bestuur organiseert de buitengewone algemene vergaderingen die voorgeschreven worden door de statuten.
            </li>
            <li>
              Op elke gewone algemene vergadering geeft het bestuur een verslag van zijn werking.
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</mat-card>