<p>
  Toon's interview by <a href="http://www.jptangosalsa.tk/" target="_blank">Jean-Pierre Van Loocke</a>
</p>
<mat-card>
  <h3>
    Why the name La Yumba?  I searched, but I could not find a meaning for it.
    I know that Pugliese composed the song, but maybe there is a story that is worth knowing.
  </h3>
  <p>
    First a remark about the pronunciation of 'Yumba', to explain the rest afterwards.
    In the accent of Buenos Aires, the 'Y' of 'Yumba' is pronounced like the 'J' in the French word 'Je'.
    In other Spanish dialects, the 'Y' is pronounced like the 'Y' in the English word 'You'.
    If 'Yumba' is pronounced with the accent of Buenos Aires, with some imagination, it sounds like the sound of a bandoneon.
    I associate the tango dance with the tango music and the bandoneon.
    The orchestra of Pugliese has a typical sound of the bandoneon and a famous song of Pugliese is called 'La Yumba',
    in which 'Yumba' has no meaning, but has been chosen because it sounds like the sound of a bandoneon.
    One can clearly hear the bandoneon in the song.
    It is a custom for milongas to have the name of a tango song.
    I wanted to follow this custom and chose for 'La Yumba' to also refer to the bandoneon and the tango music in general.
  </p>
</mat-card>
<mat-card>
  <h3>
    Will you keep the concept of 2 dance floors and the card game for the following milongas?
  </h3>
  <p>
    Yes, we want our own identity.
    More specifically, we have 3 objectives:
  </p>
  <h4>1. to bring a social tango</h4>
  <p>
    One of the initiatives for this is the card game.
    We want to respect the tango codes and the normal way to invite someone to dance stays the cabeceo.
    Tango is originally a social happening.  Because of many reasons, people may act competitively in a milonga,
    which does not always facilitate the social atmosphere.
    One is free to play the card game and the intention of the game is to help break the ice between people.
  </p>
  <p>
    We also take other initiatives to make the tango social.
    Before the milonga, people can practice and experiment for free in a practica.
    During this practica, we hold an open meeting and we have the intention
    to set up a non profit organisation to organise people around tango.
    Finally, there is a forum online at <a href="https://tango.tips/forum" target="_blank">https://tango.tips/forum/</a>
    where everyone can have his say.
  </p>
  <h4>2. to stimulate the circulation on the dance floor</h4>
  <p>
    The essence of tango is musicality, the embrace and walking.
    There are different tango styles and some people like to walk slowly.
    It is not possible to have a fast and slow circulation on the same dance floor at the same time.
    On a dance floor, you cannot progress faster than the dance couple in front of you
    and if someone stands still on the dance floor, the whole floor stands still.
    To give the possibility to be able to walk forward sufficiently,
    we organise two dance floors:
    a dance floor on which one can dance freely like in every milonga
    and another dance floor with a couple of rules one has to respect to help the circulation on the dance floor.
  </p>
  <h4>3. to promote tango</h4>
  <p>
    We want to let the tango community grow.  For this, we want to give visibility to tango and our activities.
    In every milonga we film 1 tanda in all directions and put the movie
    <a href="https://www.youtube.com/channel/UCPLXV7gRVnPEK3axc-4om6g/videos" target="_blank">on YouTube</a>,
    so everyone can see the atmosphere on our milonga.
  </p>
</mat-card>
<mat-card>
  <h3>
    Was this the only milonga to be organised at Etage Tropical?
    I heard the floor is rather expensive and that is why you now want to try out Melle first.
    How does it continue after Melle?
  </h3>
  <p>
    We have 4 floors in mind.
    Eventually, we want to stick to the floor that suits us best, but it depends indeed on the number of dancers.
  </p>
  <ul>
    <li>from 0 - 200 dancers: the floor Entre Cour et Jardin in Melle</li>
    <li>from 100 - 300 dancers: <a href="https://www.youtube.com/watch?v=p6E10DDviTQ" target="_blank">the floor of Etage Tropical</a> and as back up the big box floor of the Eskimofabriek</li>
    <li>more than 300 dancers: <a href="https://kuula.co/post/7lDbP" target="_blank">the banquet hall of the ICC Gent</a></li>
  </ul>
  <p>
    For now, we plan on the 2nd Saturday of the month a milonga on the floor of Etage Tropical and on the 4th Saturday of the month
    a milonga on the floor Entre Cour et Jardin.  We only organise a milonga on the 4th Saturday of the month,
    as long as milonga de Gante is suspended.  When milonga de Gante is organised again,
    we stop our milonga on the 4th Saturday.  In January, we organise a milonga in the Eskimofabriek,
    which will exceptionally be on the 2nd Sunday of the month instead of the 2nd Saturday, because on Saturday no dance floors
    were available anymore.  We organise a milonga in the Eskimofabriek, because it is an empty hall, to prepare
    a possible organisation of a much bigger milonga in the banquet hall of the ICC Gent,
    because this is also an empty hall.
  </p>
</mat-card>
<mat-card>
  <h3>
    I think the concept is successful. Is it really unique?
    Or do there exist similar initiatives elsewhere that you may have refined?
  </h3>
  <p>
    The milonga Porte&ntilde;o y Bailar&iacute;n in Buenos Aires had on its previous location 2 dance floors.
    This was a consequence of the hall having a L-shape.  I was aware of the possibility to organise 2 dance floors.
    We decided to organise 2 dance floors, so people who like to dance on the spot
    and people who like to move forward can participate together in the same milonga.
  </p>
</mat-card>
<mat-card>
  <h3>
    Still a comment you may consider.
    You gave free tickets away for the next milonga, but they are only valid for the next milonga.
    Hilde won 2 tickets, but she cannot come herself on the 23rd of December, because it is her birthday and she organises a birthday party at home.
    My suggestion would be to be flexible and say the free tickets are also valid for a later date.
  </h3>
  <p>
    A reason to give away the free tickets is to improve our 'customer loyalty'.
    The idea of the free tickets being valid for the next milonga was to have some certainty
    that one would be present at the next milonga.
    It is not our intention to annoy people if they cannot be present at the next milonga.
    We still have to look a bit how to organise the free tickets.
    If one cannot be present at a milonga for which one has free tickets,
    the free tickets are also valid later on.
  </p>
</mat-card>
<mat-card>
  <h3>
    May I mention the people who help with the initiative?
    Are you with 4? Or is it Toon alone?
  </h3>
  <p>
    I started the initiative.  Peter, Karin and Ingrid have told me spontaneously that they wanted to help and without them I would not be able to do it.
    Carlos has told me on our first milonga that he also wants to help.  I prefer to involve as many people as possible,
    because our aim is not only to organise a milonga, but to bring people together in an organisation that supports tango.
    The more people, the stronger the organisation and the more initiatives we can take for tango.
  </p>
  <p>
    Before I danced tango, I was member of a diving club with around 50 active members that was running very well.
    When I was at university, I was involved in international student life and somehow it is absurd to say
    that students, with little life experience, are better organised than the tango world,
    even though student organisations have fewer members and there is a greater turnover.
    I think this is because people take tango to seriously and competitively and forget it is an activity that you share with other people.
    I try to unite the people who want to, because I think together we can achieve more.
  </p>
</mat-card>
<mat-card>
  <h3>
    On the website you refer to, there is almost no information.
    It would be interesting to refer to it and who knows, maybe I could get interesting info from it for my reportage.
  </h3>
  <p>
    The website is online for a bit more than a month.  There is indeed not a lot of information yet.  We aim to improve this.
    Thank you for your interview, it helps to explain our initiative better.
  </p>
</mat-card>
