<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga" [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile><img src="assets/images/la-yumba.svg" height="100%" alt="La Yumba Milonga Ghent"></mat-grid-tile>
</mat-grid-list>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/p6E10DDviTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<h2>Time</h2>
Practica: for free from 18h until 20h<br/>
Milonga: €8 from 20h until 2h<br/>
<h2>Location</h2>
Dance floor: Etage Tropical Productions, Port Arthurlaan, 9000 Ghent<br/>
Parking: Park-and-ride Muide or Dukkeldamstraat, 9000 Ghent<br/>
<app-map-etage-tropical></app-map-etage-tropical>