<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga" [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile><img src="/assets/images/la-yumba.svg" height="100%" alt="La Yumba Milonga Ghent"></mat-grid-tile>
</mat-grid-list>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/4ZOiJ1ayaSA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<br/>
<mat-tab-group>
  <mat-tab label="Nederlands">
    Practica: gratis van 18u30 tot 20u<br/>
    Milonga: €6, leden: € 5 van 20u tot 2u, muziek door Jean-Marie Demeyer<br/>
    <br/>
    Dansvloer: Brusselsesteenweg 263, 9090 Melle<br/>
    Parkeerplaats: Kloosterstraat, 9090 Melle<br/>
  </mat-tab>
  <mat-tab label="English">
    Practica: for free from 18h30 until 20h<br/>
    Milonga: €6, members: € 5 from 20h until 2h, music by Jean-Marie Demeyer<br/>
    <br/>
    Dance floor: Brusselsesteenweg 263, 9090 Melle<br/>
    Parking: Kloosterstraat, 9090 Melle<br/>
  </mat-tab>
</mat-tab-group>  
<br/>
<app-map-entre-cour-et-jardin></app-map-entre-cour-et-jardin>