<p>
  Interview van Toon door <a href="http://www.jptangosalsa.tk/" target="_blank">Jean-Pierre Van Loocke</a>
</p>
<mat-card>
  <h3>
    Waarom de naam La Yumba? Ik Ging wat op zoek, maar vind er niet echt een betekenis voor.
    Ik Weet wel dat Pugliese er een liedje op componeerde, maar misschien is het verhaal erachter de moeite om te kennen
  </h3>
  <p>
    Eerst een opmerking over de uitspraak van 'Yumba', om nadien de rest te kunnen uitleggen.
    In het accent van Buenos Aires wordt de 'Y' van 'Yumba' uitgesproken zoals de 'J' in het Franse woord 'Je'.
    In andere Spaanse dialecten wordt de 'Y' uitgesproken zoals de 'Y' in het Engelse woord 'You'.
    Indien 'Yumba' uitgesproken wordt met het accent van Buenos Aires, klinkt het met enige verbeelding zoals het geluid van een bandoneon.
    Ik associeer de tango dans met de tango muziek en de bandoneon.
    Het orkest van Pugliese heeft een typisch bandoneon geluid en een bekend lied van Pugliese heet 'La Yumba',
    waarin 'Yumba' geen betekenis heeft, maar gekozen is omdat het klinkt zoals het geluid van een bandoneon.
    De bandoneon is duidelijk hoorbaar in het lied.
    Het is gebruikelijk voor milongas om de naam te hebben van een tango lied.
    Ik wou deze traditie volgen en koos voor 'La Yumba' om ook naar de bandoneon en de tango muziek in het algemeen te verwijzen.
  </p>
</mat-card>
<mat-card>
  <h3>
    Blijven jullie het concept van 2 dansvloeren en met het kaartenspel ook voor de volgende milongas aanhouden?
  </h3>
  <p>
    Ja, we willen onze eigen identiteit.
    Concreet hebben we 3 doelstellingen:
  </p>
  <h4>1. een sociale tango brengen</h4>
  <p>
    Een van de initiatieven hierrond is het kaartspel.
    We willen de tango codes respecteren en de normale manier om iemand ten dans te vragen blijft de cabeceo.
    Tango is oorspronkelijk een sociaal gebeuren.  Door allerlei redenen kunnen mensen zich in een milonga
    competitief opstellen, wat de sociale sfeer niet altijd bevordert.
    Het kaartspel is iets waar men vrijblijvend aan kan deelnemen en heeft als bedoeling
    het ijs tussen mensen te helpen breken.
  </p>
  <p>
    We nemen ook andere initiatieven om de tango sociaal te maken.
    Voor de milonga kunnen mensen gratis oefenen en experimenteren in een practica.
    Tijdens dit practica houden we ook een open vergadering en hebben we de intentie
    om een VZW op te richten om mensen rond tango te verenigen.
    Tot slot staat er ook een forum online op <a href="https://tango.tips/forum" target="_blank">https://tango.tips/forum/</a>
    waar iedereen zijn gedacht kwijt kan.
  </p>
  <h4>2. het circuleren op de dansvloer stimuleren</h4>
  <p>
    De essentie van tango bestaat uit muzikaliteit, de omhelzing en wandelen.
    Er zijn verschillende tango stijlen en sommigen wandelen graag langzaam.
    Het is niet mogelijk om op dezelfde dansvloer snel en traag te circuleren op hetzelfde moment.
    Je kan op een dansvloer niet sneller vooruit gaan dan het danskoppel voor je
    en als er iemand op de dansvloer stil staat, staat de hele vloer stil.
    Om de mogelijkheid te geven voldoende vooruit te kunnen wandelen,
    worden er twee dansvloeren ingericht:
    een dansvloer waarop men vrij kan dansen zoals in elke milonga
    en een andere dansvloer met een aantal regels die men moet respecteren om de circulatie van de vloer te bevorderen.
    (opmerking: we hebben het idee van twee verschillende dansvloeren laten vallen, omdat mensen het geen goed concept vonden.
     In plaats hiervan plaatsen we <a href="https://tango.tips/code" target="_blank">een banner die de danscirculatie uitlegt</a> langs de kant.)  </p>
  <h4>3. tango promoten</h4>
  <p>
    We willen de tango gemeenschap laten groeien.  Hierdoor willen we zichtbaarheid geven aan tango en onze activiteiten.
    In elke milonga filmen we 1 tanda in alle richtingen en plaatsen deze
    <a href="https://www.youtube.com/channel/UCPLXV7gRVnPEK3axc-4om6g/videos" target="_blank">op YouTube</a>,
    zodat iedereen de sfeer op onze milonga kan observeren.
  </p>
</mat-card>
<mat-card>
  <h3>
    Was dit de enige keer dat er een milonga was in Etage Tropical?
    Ik vernam dat de zaal nogal duur is en jullie daarom nu eerst Melle willen uitproberen.
    Hoe gaat het dan verder na Melle?
  </h3>
  <p>
    We hebben 4 zalen in gedachten.
    Uiteindelijk willen we ons bij de zaal houden die het beste bij ons past, maar dat hangt inderdaad af van het aantal deelnemers.
  </p>
  <ul>
    <li>van 0 - 200 dansers: de zaal Entre Cour et Jardin in Melle</li>
    <li>van 100 - 300 dansers: <a href="https://www.youtube.com/watch?v=p6E10DDviTQ" target="_blank">de zaal van Etage Tropical</a> en als back up de big box zaal van de Eskimofabriek</li>
    <li>meer dan 300 dansers: <a href="https://kuula.co/post/7lDbP" target="_blank">de banketzaal van het ICC Gent</a></li>
  </ul>
  <p>
    Voorlopig plannen we op de 2e zaterdag van de maand een milonga in de zaal van Etage Tropical en op de 4e zaterdag van de maand
    een milonga in de zaal Entre Cour et Jardin.  We organiseren enkel een milonga op de 4e zaterdag van de maand,
    zolang milonga de Gante onderbroken is.  Van zodra milonga de Gante weer doorgaat,
    stoppen we onze milonga op de 4e zaterdag.  In januari organiseren we een milonga in de Eskimofabriek,
    dit zal uitzonderlijk op de 2e zondag van de maand plaats vinden i.p.v. de 2e zaterdag, omdat er zaterdag geen zalen
    meer beschikbaar waren.  We organiseren een milonga in de Eskimofabriek omdat dit een lege zaal is, als voorbereiding
    op het eventueel organiseren van een veel grotere milonga in de banketzaal van het ICC Gent,
    omdat dit ook een lege zaal is.
  </p>
</mat-card>
<mat-card>
  <h3>
    Ik vind het concept echt geslaagd. Is het echt uniek?
    Of zijn er nog elders soortgelijke initiatieven die jullie dan misschien verfijnd hebben?
  </h3>
  <p>
    De milonga Porte&ntilde;o y Bailar&iacute;n in Buenos Aires had op zijn vorige locatie 2 dansvloeren.
    Dit was een gevolg van de zaal die een L-vorm heeft.  Ik was er me van bewust dat men 2 dansvloeren kan inrichten.
    We hebben besloten om 2 dansvloeren in te richten, zodat mensen die graag ter plaatse dansen
    en mensen die graag vooruit gaan samen kunnen deelnemen aan dezelfde milonga.
  </p>
</mat-card>
<mat-card>
  <h3>
    Dan nog een opmerking om eventueel mee te nemen.
    Jullie gaven vrijkaarten weg voor de volgende milonga, maar die zijn op datum en gelden alleen maar voor de volgende milonga.
    Hilde won 2 kaarten, maar kan zelf niet komen op de 23ste december, omdat het dan haar verjaardag is en ze thuis een verjaardagsfeest organiseert.
    Mijn suggestie zou zijn om iets soepeler te zijn en te zeggen dat de vrijkaart ook nog geldt voor een latere La Yumba.
  </h3>
  <p>
    Een reden om de vrijkaarten weg te geven is om onze 'klantenbinding' te verbeteren.
    Het idee om de vrijkaarten te laten gelden voor de volgende milonga was om enige zekerheid te hebben
    dat men op de volgende milonga aanwezig zou zijn.
    Het is niet onze bedoeling om mensen te ergeren indien ze op de volgende milonga niet aanwezig kunnen zijn.
    We moeten nog een beetje zoeken hoe we de vrijkaarten organiseren.
    Als men niet naar een milonga kan komen waarvoor men vrijkaarten heeft,
    dan zijn de vrijkaarten ook later geldig.
  </p>
</mat-card>
<mat-card>
  <h3>
    Kan ik de mensen opnoemen die aan het initiatief meewerken?
    Zijn jullie met zijn 4? Of is het iets van Toon alleen?
  </h3>
  <p>
    Ik ben met initiatief begonnen.  Peter, Karin en Ingrid hebben me spontaan gezegd dat ze wouden helpen en zonder hen zou ik het ook niet kunnen doen.
    Carlos heeft me op onze eerste milonga gezegd dat hij ook wil helpen.  Ik betrek er liever zo veel mogelijk mensen bij,
    omdat onze doelstelling niet louter het organiseren van een milonga is, maar om mensen samen te brengen in een vereniging die tango ondersteunt.
    Hoe meer mensen, hoe sterker de vereniging en hoe meer initiatieven rond tango genomen kunnen worden.
  </p>
  <p>
    Voordat ik tango danste, zat ik in een duikclub die rond de 50 actieve leden had en die zeer goed draaide.
    Wanneer ik op de universiteit zat, heb ik me ge&euml;ngageerd in het internationale studentenleven en het is ergens absurd om te zeggen
    dat studenten, met weinig levenservaring, beter georganiseerd zijn dan de tango wereld,
    ook al hebben de studentenverenigingen veel minder leden en is er een groter verloop.
    Ik denk dat dit komt doordat mensen tango te serieus nemen en te competitief opvatten en vergeten dat het een activiteit is die je met andere mensen deelt.
    Ik probeer mensen die willen te verenigen, omdat ik denk dat we samen meer kunnen bereiken.
  </p>
</mat-card>
<mat-card>
  <h3>
    Op de website waar jullie naar verwijzen, staat er omzeggens niets.
    Het zou kunnen interessant zijn ernaar te verwijzen en wie weet, misschien haalde ik voor mijn reportage er ook interessante info uit.
  </h3>
  <p>
    De website staat iets meer dan een maand online.  Er staat inderdaad nog niet veel informatie op.  De bedoeling is dat dit verbetert.
    Dank je voor dit interview, het helpt om het initiatief beter uit te leggen.
  </p>
</mat-card>
