<p class="full-height">
  <mat-tab-group>
    <mat-tab label="Nederlands">
      <mat-card>
        <a href="https://tango.tips/forum/viewtopic.php?f=10&amp;t=4" target="_blank">Op het forum</a> kan je codes voor de dansvloer bespreken.
      </mat-card>
      <mat-card>
        Een code die we speciaal willen stimuleren is het circuleren op de dansvloer.
        We hebben hiervoor <a href="https://tango.tips/forum/viewtopic.php?f=10&amp;t=3" target="_blank">een aparte discussie op het forum</a>.
        We plaatsen een banner op de dansvloer met de volgende tekst:<br/>
        <img src="/assets/images/code/banner-nl.png" height="630px" alt="Dance Circulation">
      </mat-card>
    </mat-tab>
    <mat-tab label="English">
        <mat-card>
            <a href="https://tango.tips/forum/viewtopic.php?f=10&amp;t=4" target="_blank">On the forum</a> you can discuss the codes for the dance floor.
          </mat-card>
          <mat-card>
            A code that we want to stimulate especially is the circulation on the dance floor.
            For this we have <a href="https://tango.tips/forum/viewtopic.php?f=10&amp;t=3" target="_blank">a separate discussion on the forum</a>.
            We put a banner on the dance floor with the following text:<br/>
            <img src="/assets/images/code/banner-en.png" height="630px" alt="Dance Circulation">
          </mat-card>
        </mat-tab>
  </mat-tab-group>
</p>