<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <img routerLink="/milonga/aug2018" [src]="getImageSource('/milonga/aug2018')" (mouseover)="onMouseOver('/milonga/aug2018')" (mouseout)="onMouseOut('/milonga/aug2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2"><img src="assets/images/la-yumba.svg" height="100%" alt="La Yumba Milonga Ghent"></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/july2018" [src]="getImageSource('/milonga/july2018')" (mouseover)="onMouseOver('/milonga/july2018')" (mouseout)="onMouseOut('/milonga/july2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/june2018" [src]="getImageSource('/milonga/june2018')" (mouseover)="onMouseOver('/milonga/june2018')" (mouseout)="onMouseOut('/milonga/june2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/may2018b" [src]="getImageSource('/milonga/may2018b')" (mouseover)="onMouseOver('/milonga/may2018b')" (mouseout)="onMouseOut('/milonga/may2018b')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/may2018" [src]="getImageSource('/milonga/may2018')" (mouseover)="onMouseOver('/milonga/may2018')" (mouseout)="onMouseOut('/milonga/may2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/apr2018" [src]="getImageSource('/milonga/apr2018')" (mouseover)="onMouseOver('/milonga/apr2018')" (mouseout)="onMouseOut('/milonga/apr2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/mar2018" [src]="getImageSource('/milonga/mar2018')" (mouseover)="onMouseOver('/milonga/mar2018')" (mouseout)="onMouseOut('/milonga/mar2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/feb2018b" [src]="getImageSource('/milonga/feb2018b')" (mouseover)="onMouseOver('/milonga/feb2018b')" (mouseout)="onMouseOut('/milonga/feb2018b')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/feb2018" [src]="getImageSource('/milonga/feb2018')" (mouseover)="onMouseOver('/milonga/feb2018')" (mouseout)="onMouseOut('/milonga/feb2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/jan2018b" [src]="getImageSource('/milonga/jan2018b')" (mouseover)="onMouseOver('/milonga/jan2018b')" (mouseout)="onMouseOut('/milonga/jan2018b')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/jan2018" [src]="getImageSource('/milonga/jan2018')" (mouseover)="onMouseOver('/milonga/jan2018')" (mouseout)="onMouseOut('/milonga/jan2018')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/dec2017b" [src]="getImageSource('/milonga/dec2017b')" (mouseover)="onMouseOver('/milonga/dec2017b')" (mouseout)="onMouseOut('/milonga/dec2017b')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img routerLink="/milonga/dec2017" [src]="getImageSource('/milonga/dec2017')" (mouseover)="onMouseOver('/milonga/dec2017')" (mouseout)="onMouseOut('/milonga/dec2017')" height="100%" alt="Milonga Info">
  </mat-grid-tile>
</mat-grid-list>